:root > body.frogg,
.light > body.frogg {
  --theme-hue: 146;

  --background: 0 0% 100%;
  --foreground: calc(var(--theme-hue) - 38) 71.4% 4.1%;

  --primary: var(--theme-hue) 54% 78%;
  --primary-foreground: 210 20% 98%;

  --secondary: calc(var(--theme-hue) - 42) 14.3% 95.9%;
  --secondary-foreground: calc(var(--theme-hue) - 41) 39.3% 11%;

  --muted-foreground: calc(var(--theme-hue) - 42) 8.9% 46.1%;

  --destructive: 0 84.2% 60.2%;

  --border: calc(var(--theme-hue) - 42) 13% 91%;
  --radius: 0.5rem;

  --card: var(--background);
  --popover: var(--background);

  --card-foreground: var(--foreground);
  --popover-foreground: var(--foreground);

  --ring: var(--primary);
  --destructive-foreground: var(--primary-foreground);

  --muted: var(--secondary);
  --accent: var(--secondary);
  --accent-foreground: var(--secondary-foreground);

  --input: var(--border);
  --un-default-border-color: hsl(var(--border));
}

.dark > body.frogg {
  --theme-hue: 146;

  --background: calc(var(--theme-hue) + 4) 15% 12%;
  --foreground: calc(var(--theme-hue) - 52) 20% 98%;

  --primary: var(--theme-hue) 54% 78%;

  --secondary: var(--theme-hue) 27.9% 16.9%;

  --muted-foreground: calc(var(--theme-hue) - 44) 10.6% 64.9%;

  --destructive: 0 62.8% 30.6%;

  --card: var(--background);
  --popover: var(--background);

  --card-foreground: var(--foreground);
  --popover-foreground: var(--foreground);
  --primary-foreground: var(--foreground);
  --secondary-foreground: var(--foreground);
  --accent-foreground: var(--foreground);
  --destructive-foreground: var(--foreground);

  --ring: var(--primary);

  --muted: var(--secondary);
  --accent: var(--secondary);
  --border: var(--secondary);
  --input: var(--secondary);
  --un-default-border-color: hsl(var(--border));
}
