@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

@import '../styles/react-grid-layout.css';

@import '../styles/scrollbar.css';

@import '../styles/themes/qsmp.css';
@import '../styles/themes/purgatory.css';
@import '../styles/themes/frogg.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;

    font-family: 'Poppins';
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .diag-top {
    clip-path: polygon(0 0, 0% 100%, 100% 0);
  }

  .diag-bottom {
    clip-path: polygon(100% 100%, 0 100%, 100% 0);
  }

  .vertical-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

  .bg-hue {
    background: linear-gradient(
      to right,
      hsl(0, 100%, 78%) 0%,
      hsl(60, 100%, 78%) 17%,
      hsl(120, 100%, 78%) 33%,
      hsl(180, 100%, 78%) 50%,
      hsl(240, 100%, 78%) 67%,
      hsl(300, 100%, 78%) 83%,
      hsl(0, 100%, 78%) 100%
    );
  }
}

.changelog-markdown h1 {
  @apply text-lg font-semibold leading-none tracking-tight;
}

.changelog-markdown p {
  @apply mt-2 text-sm text-muted-foreground;
}
