@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  .light,
  .light .purgatory .default {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --primary: 262 54% 78%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted-foreground: 220 8.9% 46.1%;

    --destructive: 0 84.2% 60.2%;

    --border: 220 13% 91%;
    --radius: 0.5rem;

    /*#region*/

    --card: var(--background);
    --popover: var(--background);

    --card-foreground: var(--foreground);
    --popover-foreground: var(--foreground);

    --ring: var(--primary);
    --destructive-foreground: var(--primary-foreground);

    --muted: var(--secondary);
    --accent: var(--secondary);
    --accent-foreground: var(--secondary-foreground);

    --input: var(--border);

    /*#endregion*/
  }

  .dark,
  .dark .purgatory .default {
    --background: 266 15% 12%;
    --foreground: 210 20% 98%;

    --primary: 262 54% 78%;

    --secondary: 262 27.9% 16.9%;

    --muted-foreground: 217.9 10.6% 64.9%;

    --destructive: 0 62.8% 30.6%;

    /*#region*/

    --card: var(--background);
    --popover: var(--background);

    --card-foreground: var(--foreground);
    --popover-foreground: var(--foreground);
    --primary-foreground: var(--foreground);
    --secondary-foreground: var(--foreground);
    --accent-foreground: var(--foreground);
    --destructive-foreground: var(--foreground);

    --ring: var(--primary);

    --muted: var(--secondary);
    --accent: var(--secondary);
    --border: var(--secondary);
    --input: var(--secondary);

    /*#endregion*/
  }

  .gray-light,
  .gray-light .purgatory .default {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted-foreground: 0 0% 45.1%;

    --destructive: 0 84.2% 60.2%;

    --border: 0 0% 89.8%;
    --radius: 0.5rem;

    /*#region*/

    --card: var(--background);
    --popover: var(--background);

    --card-foreground: var(--foreground);
    --popover-foreground: var(--foreground);

    --ring: var(--primary);
    --destructive-foreground: var(--primary-foreground);

    --muted: var(--secondary);
    --accent: var(--secondary);
    --accent-foreground: var(--secondary-foreground);

    --input: var(--border);

    /*#endregion*/
  }

  .gray-dark,
  .gray-dark .purgatory .default {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --primary: 0 0% 98%;

    --secondary: 0 0% 14.9%;

    --muted-foreground: 0 0% 63.9%;

    --destructive: 0 62.8% 30.6%;

    /*#region*/

    --card: var(--background);
    --popover: var(--background);

    --card-foreground: var(--foreground);
    --popover-foreground: var(--foreground);
    --primary-foreground: var(--foreground);
    --secondary-foreground: var(--foreground);
    --accent-foreground: var(--foreground);
    --destructive-foreground: var(--foreground);

    --ring: var(--primary);

    --muted: var(--secondary);
    --accent: var(--secondary);
    --border: var(--secondary);
    --input: var(--secondary);

    /*#endregion*/
  }

  /* --- */

  :root .purgatory,
  .light .purgatory {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --primary: 203 56% 51%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted-foreground: 220 8.9% 46.1%;

    --destructive: 0 84.2% 60.2%;

    --border: 220 13% 91%;
    --radius: 0.5rem;

    /*#region*/

    --card: var(--background);
    --popover: var(--background);

    --card-foreground: var(--foreground);
    --popover-foreground: var(--foreground);

    --ring: var(--primary);
    --destructive-foreground: var(--primary-foreground);

    --muted: var(--secondary);
    --accent: var(--secondary);
    --accent-foreground: var(--secondary-foreground);

    --input: var(--border);

    /*#endregion*/
  }

  .dark .purgatory {
    --background: 227 51% 9%;
    --foreground: 210 20% 98%;

    --primary: 190 56% 51%;

    --secondary: 197 52% 19%;

    --muted-foreground: 217.9 10.6% 64.9%;

    --destructive: 0 62.8% 30.6%;

    /*#region*/

    --card: var(--background);
    --popover: var(--background);

    --card-foreground: var(--foreground);
    --popover-foreground: var(--foreground);
    --primary-foreground: var(--foreground);
    --secondary-foreground: var(--foreground);
    --accent-foreground: var(--foreground);
    --destructive-foreground: var(--foreground);

    --ring: var(--primary);

    --muted: var(--secondary);
    --accent: var(--secondary);
    --border: var(--secondary);
    --input: var(--secondary);

    /*#endregion*/
  }

  .gray-light .purgatory {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted-foreground: 0 0% 45.1%;

    --destructive: 0 84.2% 60.2%;

    --radius: 0.5rem;

    /*#region*/

    --card: var(--background);
    --popover: var(--background);

    --card-foreground: var(--foreground);
    --popover-foreground: var(--foreground);

    --ring: var(--primary);
    --destructive-foreground: var(--primary-foreground);

    --muted: var(--secondary);
    --accent: var(--secondary);
    --accent-foreground: var(--secondary-foreground);

    --input: var(--border);

    /*#endregion*/
  }

  .gray-dark .purgatory {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --primary: 0 0% 98%;

    --secondary: 0 0% 14.9%;

    --muted-foreground: 0 0% 63.9%;

    --destructive: 0 62.8% 30.6%;

    /*#region*/

    --card: var(--background);
    --popover: var(--background);

    --card-foreground: var(--foreground);
    --popover-foreground: var(--foreground);
    --primary-foreground: var(--foreground);
    --secondary-foreground: var(--foreground);
    --accent-foreground: var(--foreground);
    --destructive-foreground: var(--foreground);

    --ring: var(--primary);

    --muted: var(--secondary);
    --accent: var(--secondary);
    --border: var(--secondary);
    --input: var(--secondary);

    /*#endregion*/
  }

  .dark .purgatory,
  .gray-dark .purgatory {
    --squirrel-primary: 180 98% 34%;
    --squirrel-secondary: 180 90% 24%;

    --crab-primary: 241 100% 44%;
    --crab-secondary: 241 100% 20%;

    --capybara-primary: 359 99% 44%;
    --capybara-secondary: 359 100% 20%;

    --crow-primary: 240 1% 67%;
    --crow-secondary: 240 11% 57%;

    --goose-primary: 40 100% 50%;
    --goose-secondary: 40 100% 40%;

    --axolotl-primary: 300 100% 67%;
    --axolotl-secondary: 300 100% 42%;

    --raccoon-primary: 180 100% 67%;
    --raccoon-secondary: 180 100% 40%;

    --panda-primary: 120 100% 33%;
    --panda-secondary: 120 100% 23%;
  }
}

@layer base {
  * {
    @apply border-border;

    font-family: 'Poppins';
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    @apply h-5 w-1.5;
  }

  .scrollbar::-webkit-scrollbar-track {
    @apply rounded-full bg-muted;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-full bg-primary;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-primary-foreground;
  }

  .streams-list-scrollbar::-webkit-scrollbar {
    @apply h-5 w-2;
  }

  .streams-list-scrollbar::-webkit-scrollbar-track {
    @apply rounded-full bg-muted/60;
  }

  .streams-list-scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-full bg-primary/30;
  }

  .streams-list-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-primary/60;
  }

  .diag-top {
    clip-path: polygon(0 0, 0% 100%, 100% 0);
  }

  .diag-bottom {
    clip-path: polygon(100% 100%, 0 100%, 100% 0);
  }

  .vertical-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

  .grid-layout .react-resizable-handle {
    @apply z-30;
  }

  .grid-layout .react-resizable-handle::after {
    height: 0.5rem;
    width: 0.5rem;
    border-bottom-width: 3px;
    border-right-width: 3px;
    border-style: dotted;
    border-color: hsl(var(--primary));
  }
}
